@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #1e3a8a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e3a8a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition-property: opacity, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.page-transition {
  opacity: 0;
  background: var(--background);
  transform: translateY(40px);
  filter: blur(8px);
}
